<div class="chat_area">
  <div class="chat_header">
    <div class="main_chat_room_name">hogehuga</div>
    <div class="chat_finish_button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="chat_main">
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
    <div class="messages">
      <div class="poster_date">
        <div class="poster">Tom</div>
        <div class="date">2020/01/01</div>
      </div>
      <div class="message">ohayo!</div>
    </div>
  </div>
  <div class="chat_bottom">
    <div class="form-input">
      <input class="form-message" placeholder= "type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>