<div class="sidebar">
  <div class="sidebar_header">
    <div class="room_name">Tom</div>
    <div class="create_room">チャットを生成する</div>
  </div>
  <div class="sidebar_main">
    <div class="chat_rooms">
      <div class="chat_room_name">room1</div>
      <div class="chat_room_name">room2</div>
      <div class="chat_room_name">room3</div>
      <div class="chat_room_name">room4</div>
      <div class="chat_room_name">room5</div>
      <div class="chat_room_name">room6</div>
      <div class="chat_room_name">room7</div>
      <div class="chat_room_name">room8</div>
      <div class="chat_room_name">room9</div>
      <div class="chat_room_name">room10</div>
      <div class="chat_room_name">room11</div>
      <div class="chat_room_name">room12</div>
      <div class="chat_room_name">room13</div>
      <div class="chat_room_name">room14</div>
      <div class="chat_room_name">room15</div>
    </div>
  </div>
</div>