.wrapper{
  display: flex;
  height: 100vh;
}
/*sidebar*/
.sidebar{
  width: 300px;
  background-color: #253141;
  display: flex;
  flex-direction: column;
}
.sidebar_header{
  width: 100%;
  height: 100px;
  background-color: #2F3E51;
  padding: 0 20px;
}
.sidebar_main{
  padding: 0 20px;
  height: 100%;
}

/*chat*/
.chat_area{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.chat_header{
  height: 100px;
  width: 100%;
  padding: 0 40px;
}
.chat_main{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}
.chat_bottom{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}